<div><h1>Sheet Crud Example</h1></div><br>
<div style="padding: 5px;">
  <mat-card class="box">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <input type = "text" name = "fullName" placeholder = "Your full name" formControlName="fullName" >
      <br/>
      <input type = "email" name = "email" placeholder = "Your email" formControlName="email" >
      <br/>
      <textarea name = "message" placeholder = "Your message" formControlName="message" ></textarea>
      <br/>
      <button mat-raised-button color="primary" type="submit" >Submit</button>
    </form>
  </mat-card>
</div>
